---
layout: default
---


{% if site.image and paginator.page == 1 %}
  <div class="cover-image"><img src="{{ site.image }}" alt="" /></div>
{% endif %}

<div class="post-list">
  {% for post in paginator.posts %}
    {% if post.pinned %}
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <header class="post-header">
          <h2 class="post-title" itemprop="headline"><a href="{{ post.url | prepend: site.url }}">{{ post.title | xml_escape }}</a></h2>
        </header>
        <div class="post-excerpt" itemprop="description">
          <a class="read-more" href="{{ post.url | prepend: site.url }}">{{ post.subtext }}</a>
        </div>
      </article>
    {% endif %}
  {% endfor %}
  {% for post in paginator.posts %}
    {% if post.pinned == nil %}
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <header class="post-header">
          <h2 class="post-title" itemprop="headline"><a href="{{ post.url | prepend: site.url }}">{{ post.title | xml_escape }}</a></h2>
        </header>
        <div class="post-excerpt" itemprop="description">
          <a class="read-more" href="{{ post.url | prepend: site.url }}">{{ post.subtext }}</a>
        </div>
      </article>
    {% endif %}
  {% endfor %}
</div>

{% if paginator.previous_page or paginator.next_page %}
  <nav class="pagination clearfix">
    {% if paginator.previous_page %}
      <a class="pagination-newer" href="{{ paginator.previous_page_path | prepend: site.url | replace: 'index.html', '' }}">
        <div>
          <svg viewBox="0 0 9 14">
            <path d="M7.293 14l1.414-1.414L3.12 7l5.587-5.586L7.293 0l-7 7 7 7z"/>
          </svg>
        </div>
        Nieuwere artikels
      </a>
    {% endif %}
    {% if paginator.next_page %}
      <a class="pagination-older" href="{{ paginator.next_page_path | prepend: site.url }}">
        <div>
          <svg viewBox="0 0 9 14">
            <path d="M1.707 14L.293 12.586 5.88 7 .292 1.414 1.707 0l7 7-7 7z"/>
          </svg>
        </div>
        Oudere artikels
      </a>
    {% endif %}
  </nav>
{% endif %}
