<form action="//formspree.io/evaclaessen@yahoo.com" class="pure-form pure-form-aligned" method="POST">
    <fieldset>
        <div class="pure-control-group">
            <label for="name">Naam</label>
            <input id="name" type="text" name="naam" required>
        </div>

        <div class="pure-control-group">
            <label for="email">E-mailadres</label>
            <input id="email" type="email" name="e-mailadres" required>
        </div>

        <div class="pure-control-group">
            <label for="message">Bericht</label>
            <textarea rows="5" id="message" name="bericht" required></textarea>
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Verstuur bericht</button>
        </div>
        <input type="text" name="_gotcha" style="display:none" />
        <input type="hidden" name="_next" value="{{ "/bericht_verstuurd/" | prepend: site.url }}" />
    </fieldset>
</form>
