.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
    background-color: #D3D3D3;
    color: #000;
}

.email {
	border-bottom: 2px solid #ddd;
}
.email:hover {
	border-bottom: 2px solid #000;
}